<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="/">Home</a>
      &emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;
      <a href="./add-item">Add Item</a>
    </div>
  </nav>
</div>