<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">My Shoping-Cart</a>
      <a href="./add-item" class="sidenav-trigger">Add Item
      </a>  
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="./add-item">Add Item</a></li>
      </ul> 
    </div>
  </nav>
</div>